#selectors {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    padding: 12px;
    align-items: center;
    box-sizing: border-box;
    background: $white;
    position: absolute;
    top: 100%;

    .selectors--selector {
        height: 42px;
        flex: 1 1;
        margin-left: 12px;

        &:first-child {
            margin-left: 0;
        }
    }

    input[type="file"],
    input[type="color"] {
        height: 0;  
        width: 0;
        overflow: hidden;
        border: none;
        background: transparent;
    
        & + label {
            font-family: sans-serif;
            background: #f44336;
            padding: 10px 30px;
            border: 2px solid #f44336;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s;
            display: block;
            height: 42px;
            box-sizing: border-box;
            margin-top: -19px;
            display: flex;
            justify-content: center;
    
            &:hover {
                background-color: $white;
                color: #f44336;
            }

            &[for="choose-background-color"] {
                margin-top: -18px;
            }
        }
    }
}